html {
    font-family: Helvetica, SansSerif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

.nav_container {
    display: inline-flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0;
    background-color: black;
}

#logo img {
    height: 50px;
    width: auto;
    padding-left: 10px;
}

#logo {
    width:30%;
    display: inline-flex;
    justify-content: flex-start;
}
nav {
    display: inline-flex;
    justify-content: flex-end;
    width: 70%;
}

nav ul li{
    display: inline;
    list-style-type: none;
    margin-right: 30px;
    text-decoration: underline;
}

nav ul li:hover {
    color: red;
    cursor: pointer;
}

#banner_container {
    display: inline-flex;
    justify-content: center;
    min-height: 700px;
    width: 100%;
}
#banner {
    background-image: url("/style/img/img-mission-background.jpg");
    background-size: cover;
    background-position: center;
    width: auto;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.title_container {
    text-align: center;
    align-items: center;
    background-color: black;
    width: 100%;
}


.bottom_container {
    max-width: 1000px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
}

.media_container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 300px;
    height: 200px;
}

figcaption {
    padding-top: 10px;
    text-align: center;
}

#loc_banner {
    background-image: url("/style/img/img-locations-background-2.jpg");
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.loc_container li {
    list-style-type: none;

}

.loc_container {
    width: 300px;
    height: 300px;
    background: black;
    display: flex;
    align-items: flex-start;
    line-height: 2rem;
    margin: 30px 20px;
}

.loc_container:hover {
    cursor: pointer;
    color: red;
    background-color: rgba(0,0,0, 85%);
}

.loc_container:active {
    background-color: black;
}



footer {
    text-align: center;
}

footer .contacts {
    min-height: 200px;
}

footer .copyright {
    margin: 0 20px;
    text-align: left;
}